* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}


img {
    width: 100%;
}

header {
    background-color: black;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width:1600px;
}

header nav ul li a:active {
    color: orange;
}

#designer:active {
    color: orange;
}

.mainlogo {
    border: 1px solid #FFF;
    padding: 4px;
}

section {
    width:1600px;
    margin: 0 auto;
}

.dot {
    height: 465px;
    width: 465px;
    border-radius: 50%;
    display: inline-block;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    position: absolute;
    top: 152px;
    right: 459px;
  }

.ball {
    position: relative;
    bottom: 839px;
    left: 190px;
}

.adtext {
    position: relative;
    width: 500.31px;
    height: 400px;
    bottom: 656px;
    left: 910px;
    font-weight: 700;
    font-size: 95px;
    line-height: 40%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: -425px;
    padding: 0;
}
.textcontainer {
    margin: 0;
    padding: 0;
}
section div p span {
    color: #FFEE2E;
}

.divicon {
    width: 33px;
    height: 37px;
    position: relative;
    margin: 0;
    padding: 0;
    display: inline;
    bottom: 35px;
    left: 348px;
}

.animals {
    margin-bottom: -30px;
}

.animals p {
    padding-left: 5px;
}

header ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    padding-left: 15rem;
}

header li {
    margin: 0 1.54rem;
}

header nav {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
}

header nav a{
    color: white;
    font-size: 1.25rem;
    text-decoration: none;
}

header nav a:hover {
    color: white;
}

#flower {
    position: absolute;
    width: 293px;
    height: 605px;
    left: 1400px;
    top: 792px;

    background: url(flower_foto.png);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.section1buttondiv {
    width: 298px;
    height: 54px;
    border-radius: 25px;
    margin: 0 auto;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.section1buttondiv:hover {
    background: #E47209;
}
.section1buttondiv:active {
    background: #4B9200;
}

.section2 {
    padding: 140px 220px 100px 140px;
}

.section2main1 {
    display: flex;
    justify-content: space-between;
    gap: 87px;
    margin-bottom: 180px;
}

.section2main1 div h1 {
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    margin-bottom: 20px;
}

.section2main1 div .paragraph1 {
    margin-bottom: 54px;
}

.section2main1 div .paragraph2 {
    margin-bottom: 34px;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
}

.section2main1 div {
    width: 609px;
    height: 403px;
}


.section2main2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    margin-bottom:80px;
}

.section2main2 .collage1 {
    border: 1px solid orange;
    border-radius: 9px;
}

.collage1 div img {
    object-fit: fill;
    border-radius: 6px;
    flex-shrink: 0;
    /* min-width: 100%;
    min-height: 85%; */
}

.collage1 {
    /* display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    overflow: hidden;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap; */
}

#logo {
    font-size: 16px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

#about {
    text-transform: uppercase;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

#designer {
    font-size: 1rem;
    padding-left: 21rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    line-height: 5px;
}


.imgplaceholder {
    height:780px;
    background-color: blue;
}

.section2 button {
    width: 298px;
    height: 54px;
    background: #FE9013;
    border-radius: 25px;
    margin: 0 auto;
    margin-bottom: 100px;
    font-size: 16px;
    color: #FFFFFF;
}

.section2buttondiv {
    width: 298px;
    height: 54px;
    border-radius: 25px;
    margin: 0 auto;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    color: #FFFFFF;
}
.section2buttondiv button:hover {
    background: #E47209;
}
.section2buttondiv button:active{
    background: #4B9200;
}

#watchonline {
    position: relative;
    bottom: 156px;
    left: 1079px;
    color: #FFFFFF;
}

.section3 {
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    padding: 69px 220px 100px 220px;
}

.section3 > h1 {
    color: white;
    font-size: 36px;
}

.section3 > p {
    color: white;
    padding: 10px 0 40px;
}

.section3 > h3 {
    color: #FE9013;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 60px;
}

.section3center {
    background-color: #EAF7FE;
    padding: 92px 40px;
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    width: 1160px;
}

.section3 h2 {
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    color: #FE9013;
    margin-bottom: 30px;
}

#section3paragraph1 {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;
    margin-bottom: 40px;
    margin-left: 50px;
}

#section3paragraph2 {
    margin-bottom: 10px;
    font-weight: bold;
}

#sectino3paragraph3 {
    margin-bottom: 58px;
}

#section3header2 {
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    color: #333B41;
    margin-bottom: 30px;
}

.section3  > ul {
    display: flex;
    justify-content: space-between;

}

.section3 > li {
    padding-right: 130px;
    list-style: none;
    border-radius: 5px;

}

.section3 img {
    width: 168px;
    height: 168px;
    margin-bottom: 30px;
}

.section3 ul li p {
    margin-bottom: 60px;
}

.section3 button {
    width: 298px;
    height: 54px;
    background: #FE9013;
    border-radius: 25px;
    margin: 0 auto;
    margin-bottom: 100px;
    font-size: 16px;
    color: #FFFFFF;
}

.section3buttondiv a:hover{
    background: #E47209;
}

.section3 a:active {
    background: #4B9200;
}

.section3 .section3center >  span {
    color: #333B41;
    display: block;
    text-align: center;
    padding: 30px 0 60px;
}

input.amount {
    display: flex;
    margin: 50px auto 25px;
    
    border: 1px solid #929699;
    border-radius: 2px;
    background: transparent;
    width: 268px;
    height: 54px;
    color: #929699;
    padding: 0 9px;
    background: url("/img/dollar.png") no-repeat 250px;
    background-size: 10px;
}


.panda-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.panda-div div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.panda-div div p {
    color: #333B41;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    margin-top: 11px;
    display: block;
}

.panda-div div span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 80%;
}

.panda-div img {
    height: 200px;
    width: 270px;
    margin-left: 64px;
}

.line .linee {
    background: #404950;
    border-radius: 2px;
    height: 27px;
    width: 976px;
    margin-bottom: 15px;
    position: relative;
}

.linee::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 940px;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    background-color: #72828E;
}

.line {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.line ul {
    display: flex;
    margin: 0;
    padding: 0;
    width: 976px;
    justify-content: space-between;
}

.line ul li{
    list-style: none;
    position: relative;
}

.line ul li::after {
    content: "";
    position: absolute;
    position: absolute;
    width: 10px;
    height: 10px;
    left: 50%;
    top: -34.5px;
    transform: translateX(-50%);
    background: #FFEE2E;
    border-radius: 50%;
}

.checkbox {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.checkbox .container {
    display: block;
    position: relative;
    padding: 0 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .checkbox .container p {
    margin-left: 10px;
    font-size: 16px;
    color: #333B41;
  }
  
  .checkbox .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #FE9013;
  }
  
  .checkbox .container:hover input ~ .checkmark {
    background-color: #FE9013;
  }
  
  .checkbox .container input:checked ~ .checkmark {
    background-color: #FE9013;
  }
  
  .checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .checkbox .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .checkbox .container .checkmark:after {
        top: 4px;
        left: 4px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: white;
  }

input.amount::placeholder {
    color: #929699;
}


.section3 a {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    outline: none;
    box-shadow: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    margin: 0 auto;
    color: white;
    text-decoration: none;
}

.section4 {
    background-color: #ffffff;
    padding: 69px 220px 100px 220px;
}

.section4 ul {
    display: flex;
    justify-content: space-between;
}

.section4 li {
    margin-right: 30px;
    list-style: none;
}


.section4 #section4header {
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 47px;
}

.section4 .testimonial {
    width: 268px;
    height: 440px;
    background: #F1F3F2;
    border-radius: 20px;
}

.testimonial img {
 height: 37px;
 width: 37px;
}

.section4 h3 {
    margin-bottom: -15px;
}

.testimonial h3 {
    color: #BDBDBD;
    font-weight: lighter;
    position: relative;
    bottom: 37px;
    left: 50px;
}

.testimonial p {
    padding: 15px;
    position: relative;
    bottom: 48px;
    color: #767474;
}

.section4 .customer {
    padding-top: 11px;
    margin-left: 51px;
}

.section4 p {
    margin-top: 20px;
}

.section4 button {
    width: 298px;
    height: 54px;
    background: #FE9013;
    border-radius: 25px;
    margin: 0 auto;
    margin-top: 60px;
    font-size: 16px;
    color: #FFFFFF;
}

.section4 button:hover {
    background: #E47209;
}
.section4 button:active {
    background: #4B9200;
}

footer {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 1600px;
    padding: 50px 220px;
}

footer .second-half {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 350px;
}

footer .third-half {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    height: 350px;
}

footer .footernav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    padding-right: 0px;
}

footer .navli {
    margin: 0 1.54rem;
    list-style: none;
}

footer nav ul li a:active {
    color: orange;
}

footer nav a {
    color: white;
    font-size: 1.25rem;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
}

footer .mainlogofooter {
    width: 82px;
    height: 52px; 
    border: 0.5px solid #FFFFFF;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .half .form {
    display: flex;
    align-items: center;
}

footer .footerbutton button {
    width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 5px;
    font-size: 16px;
    color: #FFFFFF;
    margin: 68px 0 44px;
}

.footerbutton button:hover {
    background: #E47209;
}
.footerbutton button:active {
    background: #4B9200;
}

footer h2 {
    width: 237px;
    height: 29px;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #FFFFFF;
    margin-bottom: 14px;
}

.testimonial img {
    height: 37px;
    width: 37px;
    margin-left: 4px;
    position: relative;
    bottom: 28px;
    left: 5px;
}

footer h3 {
    width: 237px;
    height: 29px;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #FFFFFF;
}

.social {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    list-style: none;
}

#facebook {
    width: 120px;
    height: auto;
}
#twitter{
    width: 95px;
    height: auto;
}
#instagram {
    width: 120px;
    height: auto;
}
#youtube {
    width: 110px;
    height: auto;
}


#fname {
    width: 228px;
    height: 42px;
    border-radius: 2px;
    background: transparent;
    color: white;
    padding: 0 10px;
    border: 1px solid #F9804B;
}

::placeholder {
    color: white;
}

.submit {
    width: 129px;
    height: 42px;
    background: #F1F3F2;
    color: black;
    margin-left: 10px;
    border-radius: 8.4px;
}

.submit:hover {
    color: green;
}

